:root{

--cor-de-fundo:#9ee2eb;

}
.conteudo-principal {

    l ‹ display: flex;
    flex-direction: column; justify-content: center;
    align-items: center; max-width: 1200px;
    width: 100%;
    margin: 0 auto;ss
    }
    •titulo-principal { text-align: center;
    width: 100%;
    font-size: 32px; • color: var (--preto);
    }
    •titulo-principal span { color: var(--verde):
    }
    .botao
    {
    background-color: var (--botao-inativo);
    color: var (--branco);
    display: flex;
    justify-content: center;
    padding: lem;
    font -size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-borda); border-left: 2px solid var(--cor-borda); border-right: 2px solid var (--cor-borda); border-top: 4px solid var(--cor-borda);
    }
    . botoes {
    display: block;
    }
    botao:first-child
    {
    border-radius: 40px 40px 0 0;
    
